<div class="row footer bg-dark">
  <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
    <h3 class="text-white p-0 mt-3">Contact Us</h3>
    <!-- CONTACT INFO -->
    <ul class="w-100 h-100 list-unstyled">
      <li class="text-white text-center">
        <i class="fas fa-phone pr-2"></i>
        Phone: 702-559-1821
      </li>
      <li class="text-white text-center"><i class="fas fa-envelope pr-2"></i> Email: michaelpopedeveloper@gmail.com</li>
    </ul>
    <!-- <div class="col-6 d-flex flex-column justify-content-center align-content-center align-items-center">
    <p class="text-white">Other info</p>
  </div>
</div> -->
