<div class="row">
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center p-1 m-1" style="font-weight: 700;">National Task Force</h1>
    <h4 class="w-50 text-center p-1 m-1 text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</h4>
    <div class="w-25 m-2 mb-5" style="min-height: 2px; background-color: lightblue;"></div>
  </div>
</div>
<div class="row pt-5" style="min-height: 40vh;">
  <div class="col-lg-6 flex-column d-flex justify-content-center align-items-center">
    <div class="d-flex w-75 h-75 flex-column align-items-center justify-content-center">
      <ul class="list-unstyled">
        <li *ngFor="let item of nationalList1;" class="d-flex justify-content-around align-items-center" style="">
          <div class="d-flex align-items-start justify-content-start" style="min-height: 15rem;">
            <div class="bg-dark p-3 rounded-circle">
              <i class="{{item.icon}}" style="color: white;"></i>
            </div>
          </div>
          <div class="d-flex flex-column align-items-start justify-content-start pl-4" style="min-height: 15rem;">
            <h1 class="pt-0 mt-0">{{item.header}}</h1>
            <p class="p-1 m-1">{{item.body}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 flex-column d-flex justify-content-center align-items-center">
    <div class="d-flex w-75 h-75 flex-column align-items-center justify-content-center">
      <ul class="list-unstyled">
        <li *ngFor="let item of nationalList2;" class="d-flex justify-content-around align-items-center" style="">
          <div class="d-flex align-items-start justify-content-start" style="min-height: 15rem;">
            <div class="bg-dark p-3 rounded-circle">
              <i class="{{item.icon}}" style="color: white;"></i>
            </div>
          </div>
          <div class="d-flex flex-column align-items-start justify-content-start pl-4" style="min-height: 15rem;">
            <h1 class="pt-0 mt-0">{{item.header}}</h1>
            <p class="p-1 m-1">{{item.body}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
