<div class="about-page bg-white m-0 row d-flex  justify-content-start align-items-start align-content-start">
  <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center align-content-center">
    <i class="pt-3 mt-5 fa-3x fas fa-user-tie"></i>
    <h1 class="text-justify font-weight-bold text-dark"> About Us</h1>
    <p class=" text-justify pl-5 pr-5">The Founders of TME-Systems and a Core Group of Change Advocates
      have spent more than Two Decades perfecting
      a Social Enterprise Business Model that Directly Addresses Social and Economic Inequality Specific to
      Disenfranchised Communities.

      What originally started out as an idea to help Improve the Economic Conditions of the Disenfranchised, has now
      morphed into a Full Fledged Social Enterprise Business Module. TME-Systems Does NOT conduct Business as Usual!
      Make no mistake! Our Directive is Crystal Clear.

      When Developing Eco-Systems, our Highest Priority has always been to Ensure those Systems Produce Immediate
      Social/Economic Impact, Create an Environment of Equality and Sets a Higher Standard for Inclusion and Equal
      Access for All.</p>
  </div>
  <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center align-content-center">
    <i class="pt-3 mt-5 fas fa-3x fa-fist-raised"></i>
    <h1 class="text-center font-weight-bold text-dark"> Force Change</h1>
    <p class="text-justify h-50 pl-5 pr-5">The power to force Social and Economic Change rests
      Squarely on the Shoulders of the people who Desperately Need Change to happen Right Now! The Disenfranchised
      Possess That Power!

      The question of Available Resources is Not the Issue. The Resources have Always Been There! The Question is the
      Willingness of those who have been Impacted or Oppressed, to Stand Up and be Counted among this New Wave of
      Leadership!

      There are certainly More Than Enough people living in Disenfranchised Situations to Work Together and Harness the
      Power They Do Have to Help their own Social/Economic Circumstances! </p>
  </div>
</div>

<div class="about-page bg-white pb-5 m-0 row d-flex  justify-content-start align-items-start align-content-start">
  <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center align-content-center">
    <i class="pt-3 mt-5 fa-3x fas fa-bullhorn"></i>
    <h1 class="text-justify font-weight-bold text-dark"> Action Based</h1>
    <p class=" text-justify border-left pl-5 pr-5">In General, what is missing is Equal Access to a National Plan of
      Action, Coordinated at the Local Level, to Consolidate the Micro Economic Power of the Disenfranchised. The
      National Task Force (NTF) was created in part, to Increase the Awareness and the Economic Potential of that
      Power!

      As True Believers in Equality our Organization Specializes in Identifying Existing Resources within a Community.
      (without exception, every community has them)

      By Design, It Does Not Matter if the Resources are Large or Small. The NTF Consolidates and Redirects those
      Resources Back into the Community to Create a Systematic Flow of Social and Economic Benefits from the Bottom Up!

      Increasing Personal and Household Income, Community Based Revenue Development, Small Business Infrastructure, Job
      Creation and much more, at the Grassroots Level! We refer to this as Trickle Up Economics!
    </p>
  </div>
  <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center align-content-center">
    <i class="pt-3 mt-5 fas fa-3x fa-check"></i>
    <h1 class="text-center font-weight-bold text-dark"> Common Sense Solutions </h1>
    <p class="text-justify h-50 pl-5 pr-5">Revenue Development Opportunities for Individuals,
      Organizations and
      Businesses are all part of our Common Sense Solutions Action Plan. TME-System's Strategy is Designed to create
      Immediate Impact by Increasing Revenue Flow into Local Communities and Supporting Long Term Sustainability.

      Disenfranchised Communities Currently have the Numbers (140 million affected) and the Spending Power (Trillions
      of Dollars in 2016)! Common Sense Dictates that Communities Take Advantage of these Assets!

      The NTF Economic Blueprint Maximizes those Assets to the Benefit of Individuals/Communities that Participate on
      Any Level.

      Together, we become the Power!</p>
  </div>
</div>
