<div class="about-page bg-light m-0 row d-flex  justify-content-start align-items-start align-content-start">
    <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center align-content-center">
            <i class="pt-3 mt-3 fa-3x fas fa-user-tie"></i>
            <h1 class="text-justify font-weight-bold text-dark"> About Us</h1>
        <p class=" text-justify border-left pl-5 pr-5">The Founders of TME-Systems and a Core Group of Change Advocates have spent more than Two Decades perfecting
            a Social Enterprise Business Model that Directly Addresses Social and Economic Inequality Specific to
            Disenfranchised Communities. 

        What originally started out as an idea to help Improve the Economic Conditions of the Disenfranchised, has now
        morphed into a Full Fledged Social Enterprise Business Module. TME-Systems Does NOT conduct Business as Usual!
        Make no mistake! Our Directive is Crystal Clear.

        When Developing Eco-Systems, our Highest Priority has always been to Ensure those Systems Produce Immediate
        Social/Economic Impact, Create an Environment of Equality and Sets a Higher Standard for Inclusion and Equal
        Access for All.</p>
    </div>
    <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center align-content-center">
            <i class="pt-3 mt-3 fas fa-3x fa-fist-raised"></i>
        <h1 class="text-center font-weight-bold text-dark"> Force Change</h1>
        <p class="text-justify h-50 border-left border-right pl-5 pr-5">The power to force Social and Economic Change rests Squarely on the Shoulders of the people who Desperately Need Change to happen Right Now! The Disenfranchised Possess That Power! 

                The question of Available Resources is Not the Issue. The Resources have Always Been There! The Question is the Willingness of those who have been Impacted or Oppressed, to Stand Up and be Counted among this New Wave of Leadership! 
                
                There are certainly More Than Enough people living in Disenfranchised Situations to Work Together and Harness the Power They Do Have to Help their own Social/Economic Circumstances! </p>
    </div>
</div>