<div class="row" style="min-height: 100vh;">
  <div class="col-1"></div>
  <div class="col text-center d-flex justify-content-center align-items-center">
    <div class="h-50 w-100 bg-light d-flex flex-column justify-content-start align-items-center">
      <h3 class="p-2 m-2">Social Advocates</h3>
      <p style="width: 80%;">

        Social Advocates are Dedicated Servants that want to take their Participatory Value in the Social Arena to the
        Next Level. They want to be on the Front Lines Working Directly with People in Need.

        <!-- Advocates include Volunteers, Mentors, Life Coaches, Counselors, Social Workers and Literally Anyone who has a
        Real Desire to Help People ... -->

        <!-- If Your Passion is related to Social or Economic Equality, then Your Participation in the NTF can Generate the
        Economic Stimulus for Your Vision/Mission.

        The Need for Social Advocates is so Massive and Growing at such a Rapid Pace that Tens of Thousands of Social
        Advocates can be Developed Across the Country. NTF Members are Equipped with the Innovation and Resources to
        Serve this Tremendous Target Market at the Grassroots Level. -->

      </p>
      <button class="btn btn-primary">Learn More</button>
    </div>
  </div>
  <div class="col text-center d-flex justify-content-center align-items-center">
    <div class="h-50 w-100 bg-light d-flex flex-column justify-content-start align-items-center">
      <h3 class="p-2 m-2">New Leadership</h3>
      <p style="width: 80%;">

        The Leadership of the National Task Force (NTF) is Committed to all phases in the Economic Recovery efforts for
        Your City. Creating Large Scale Employment & Small Business Infrastructure Developement Opportunities.

        <!-- You can help create an Immediate Economical Impact at the Grassroots level! Each community that chooses to
        Actively Enlist as NTF Members, Chooses to Take Control of their Economic Recovery. Galvanizing an Economic
        Army that is Blazing New Pathways!

        Think of it! A National Movement, taking Economic/Social Action in the Fight for Equality! The NTF is sending a
        Clear Message all across the country!

        Together We Become The Power! -->
      </p>
      <button class="btn btn-primary">Learn More</button>
    </div>
  </div>
  <div class="col text-center d-flex justify-content-center align-items-center">
    <div class="h-50 w-100 bg-light d-flex flex-column justify-content-start align-items-center">
      <h3 class="p-2 m-2">Economic Army</h3>
      <p style="width: 80%;">

        Trillions of Dollars are Spent each year by Disenfranchised Communities. Beyond the products or services
        purchased, there is very little Benefit Created for the community that Spent the Money.

        <!-- The NTF Believes Communities Should Receive Much More of a Return on the Dollars They Spend. At the same time,
        Every Person Should have the Opportunity, to Actively Participate Socially and/or Economically, on some level,
        in their Recovery. -->

      </p>
      <button class="btn btn-primary">Learn More</button>
    </div>
  </div>
  <div class="col-1"></div>
</div>
